<h2 md-dialog-title>Join a Chatroom</h2>
<md-dialog-content>
        <md-form-field class="full-width">
            <input mdInput [(ngModel)]="chat.userName" required="true" mdInput tabindex="1" placeholder="Name">
        </md-form-field>
        <md-form-field class="full-width">
            <input mdInput [(ngModel)]="chat.room" required="true" mdInput tabindex="1" placeholder="Chat Room">
        </md-form-field>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" [md-dialog-close]="chat" [disabled]="isEmpty(chat.room) || isEmpty(chat.userName) ? true : null">Join</button>
</md-dialog-actions>
