.phone-booth {
    float: left;
    width: 80%;
    height: 100%;
    border-right: 1px solid #aaa;
}

.chatroom {
    float: left;
    width: 20%;
    height: 100%;
    margin-left: -1px;
}

.row {
    display: block;
    width: 100% !important;
}

.app-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background: rgb(104, 49, 115);
    height: 100px;
    font-size: 10pt;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
    .user-details {
        position: absolute;
        top: 0;
        right: 0;
        font-family: Open Sans;
        text-align: right;
        margin-right: 25px;
        color: #fff;
        .name {
            margin-top: 25px;
            margin-bottom: -5px;
            font-size: 16pt;
        }
        .leave-link {
            font-size: 10pt;
        }
    }
}

.app-content {
    position: fixed;
    width: 100%;
    top: 100px;
    bottom: 35px;
}

.app-footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 35px;
    text-align: center;
}

.own-video-wrapper {
    #own-video {
        position: fixed;
        bottom: 50px;
        left: 25px;
        width: 250px;
        height: 140.625px;
        border: 1px solid #aaa;
    }
}

.button-wrapper {
    position: fixed;
    width: 80%;
    bottom: 25px;
    text-align: center;
    .buttons {
        display: inline-block;
        [class^="button"] {
            float: left;
            list-style: none;
            margin: 25px;
        }
    }
}

.participant-list {
    .participant {
        .call-status {
            vertical-align: middle;
            color: red;
            font-size: 30pt;
            margin-right: 10px;
        }
        .name {
            vertical-align: middle;
        }
        list-style: none;
        font-family: sans-serif;
        color: #aaa;
        .call {
            position: absolute;
            vertical-align: middle;
            right: 25px;
            * {
                font-size: 14pt;
            }
        }
    }
}
