<header class="app-header">
    <h1>WebRTC Sample Application</h1>
    <div class="user-details">
        <h5 class="name">Hello {{getMyself().getName()}}</h5>
        <a href="#"><span class="leave-link" (click)="leaveRoom()">Leave Chatroom</span></a>
    </div>
</header>
<div class="app-content">
    <div class="phone-booth">
        <div class="remote-video-wrapper row">
            <ul class="remote-videos">
                <li class="remote-video" *ngFor="let stream of remoteStreams">
                    <video id="{{stream.id}}" [src]="stream.src" class="remote-video"></video>
                    <div class="remote-video-options">
                    </div>
                </li>
            </ul>

        </div>
        <div class="button-wrapper">
            <ul class="buttons">
                <li class="button-hangup">
                    <button md-mini-fab color="warn">
        <md-icon class="md-24" aria-label="Hangup">
          call_end
        </md-icon>
      </button>
                </li>
                <li class="button-hold">
                    <button md-mini-fab color="accent">
        <md-icon class="md-24" aria-label="Hold">
          phone_paused
        </md-icon>
      </button>
                </li>
            </ul>
        </div>
        <div class="own-video-wrapper row">
            <video id="own-video"></video>
        </div>
    </div>
    <div class="chatroom">
        <div class="chat-room-participants-wrapper">
            <div class="chat-room-participants">
                <md-list class="participant-list">
                    <md-list-item class="participant" *ngFor="let participant of participants">
                        <span class="call-status">•</span>
                        <span class="name" mdTooltip="participant.id">{{participant.name}}</span>
                        <span class="call">
                      <button md-icon-button color="accent" (click)="call(participant.id)">
                        <md-icon aria-label="Call">call</md-icon>
                      </button>
                    </span>
                    </md-list-item>
                </md-list>
            </div>
        </div>
    </div>
</div>
<div class="app-footer">
    <p>Copyright (C) Manu 2017</p>
</div>
