<h2 md-dialog-title>Incoming Call</h2>
<md-dialog-content>
        <p>{{data.user}} is calling you</p>
</md-dialog-content>
<md-dialog-actions>
    <button md-raised-button color="primary" (click)="accept()">Accept</button>
    <button md-raised-button color="warn" (click)="reject()">Reject</button>
</md-dialog-actions>
